<% content_for :title, "Listings" %>

<h1 class="text-center">Your Listings</h1>

<br>

<%= render "form", listing: @listing %>

<br>

<div id="listings">
  <% @listings.each do |listing| %>
    <%= render listing %>
    <p>
      <%= link_to "Show this listing", listing %>
    </p>
  <% end %>
</div>
