<% content_for :title, "Listings" %>

<h1 class="text-center">Your Listings</h1>

<br>

<%= render "form", user_listing: @user_listing %>

<br>

<div id="listings">
  <% @user_listings.each do |user_listing| %>
    <%= render user_listing %>
  <% end %>
</div>
